body{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 1fr;

}

.sidebar{
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(8, 135, 177);
  color: rgb(249, 239, 239);
}

.header{
}

.main-content{
  grid-column: 2/3;
}