:root{
  --sidebar-color:#0ea5e9;
  --default-white: #fff;
  --greyish-color: #d6e2ed;
}

body{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}

#dashboardIcon{
  width: 80px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(344deg) brightness(104%) contrast(106%);
}

.sideIcon{
  width: 2em;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(344deg) brightness(104%) contrast(106%);
}

.sidebar{
  grid-column: 1/2;
  grid-row: 1/3;
  padding-top: 20px;
  background-color: var(--sidebar-color);
  color: var(--default-white);
  font-size: 1.3rem;
}

.channels, .user-help{
  margin-left: 40px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.dashboard{
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.iconTextSidebar{
  display: flex;
  align-items: center;
  gap: 20px;
}

.header{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 200px;
}

.top-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

#bellIcon{
  width: 30px;
  padding-left: 100px;
  padding-right: 20px;
}

#searchIcon{
  width: 40px;
  padding-right: 30px;
}

.bottom-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.userGreet{
  display: flex;
  flex-direction: column;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#searchbar{
  flex: 1;
  min-width: 40px;
  height: 30px;
  border-radius: 16px;
  border-style: none;
  background-color: var(--greyish-color);
  font-size: 1.1rem;
}

button{
  border-style: none;
  border-radius: 10px;
  width: 90px;
  height: 35px;
  background-color: var(--sidebar-color);
  color: var(--default-white);
}

.main-content{
  display: grid;
  gap: 30px;
  padding: 30px;
  grid-template-columns: 1fr 300px;
  background-color: var(--greyish-color);
}

.box-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/2;
  grid-row: 2/6;
  gap: 35px;
}

#announceTitle{
  grid-column: 2/3;
  grid-row: 1/2;
}

#trendingTitle{
  grid-row: 3/4;
  grid-column: 2/3;
}

#projectsTitle{
  grid-row: 1/2;
  grid-column: 1/2;
}

.box, .trending, .announce{
  display: grid;
  background-color: var(--default-white);
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  padding: 30px;
 }

 .main-content>h4{
  font-size: 1.3em;
 }

.trending{
  grid-column: 2/3;
  row-gap: 24px;
}

.box{
  display: grid;
  border-left: 12px solid #fdba74;
}

.share{
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 30px 0;
}

.announce{
  display: grid;
  row-gap: 32px;
  grid-column: 2/3;
  grid-row: 2/3;
}
